*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    width: 100%;
}
main{
    width: 80%;
    margin: 20px auto;
}
h1{
    text-align: center;
    margin-top: 10px;
}
span{
    color: rgb(43, 110, 255);
}
.head{
    margin: 20px 0;
    position: relative;
}
.head .banner{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}
.head .services{
    position: absolute;
    bottom: -100px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.services .service{
    background-color: #2998ff;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    line-height: 20px;
    position: relative;
}
.service:hover{
    background-color: #0084ff;
    border-radius: 7px;
    cursor: pointer;
}
.service img{
    width: 30px;
    height: 30px;
    background-color: #ddd;
    padding: 5px;
    border-radius: 7px;
    position: absolute;
    top: -20px;
    left: 45%;
}
.title{
    margin: 5px 0;
    font-size: 1.7em;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.disc{
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}


/* single service page */
.single{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}
.sec1 .title{
font-size: 3em;
font-family: pristina;
}
.sec1 .brife-disc{
font-size: 16px;
}
article{
    font-size: 1.2em;
}
.sec2 img{
    width: 100%;
    height: auto;
}
button{
    padding: 10px;
    border: none;
    color: azure;
    background-color: rgba(125, 46, 199, 0.575);
    margin: 20px 0;
}

/* media query for small screen */

@media (max-width:700px) {
    .head .services{
        position: absolute;
        top: 100px;
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .single{
     display: flex;
     flex-direction: column;
    }
    .sec1{
        align-self: flex-start;
    }
}