* {
  /* z-index: 1; */
  font-family: sans-serif;
}
@font-face {
  font-family: blocky;
  src: url(blocky.otf);
  src: url(blocky.ttf);
  src: url(blocky.woff);
}
.root {
  padding-inline: 50px;
  overflow-x: hidden;
  position: relative;
  background-color: #f4f4f4;
}
.banner {
  position: relative;
  width: 100%;
  z-index: 1;
  height: 100vh;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
ul {
  width: 50%;
  font-size: 1.5em;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}
.logo {
  font-family: blocky;
  font-size: 2em;
  letter-spacing: 5px;
  font-weight: 100;
}
.right {
  /* width: 20%; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5em;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.slider {
  display: flex;
  align-items: center;
  width: 70px;
  border-radius: 50px;
  height: 30px;
  background-color: black;
}
.triangle {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  border: 50vw solid rgba(255, 0, 0, 0);
  border-top: 50vh solid rgba(255, 0, 0, 0);
  border-right: 50vw solid #359af9;
  border-bottom: 50vh solid #359af9;
  height: 0;
}
.heading {
  margin: 0;
  margin-left: 5%;
  font-size: 2.2em;
  margin-top: 20px;
}
.paragraph {
  margin-left: 5%;
  font-size: 1.3em;
}
.light {
  font-weight: 100;
}
.circle {
  float: right;
  width: 25px;
  height: 25px;
  background-color: aliceblue;
  border-radius: 50%;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.values {
  display: flex;
  justify-content: center;
  width: 90%;
  align-items: center;
}
.v1 .circle {
  box-shadow: 3px 5px 10px #7c7c7c;
  width: 100px;
  height: 100px;
  background-color: #359af9;
}
.v1 p {
  width: 70%;
  text-align: center;
}
.v1 * {
  margin: 5px;
}
.v1 {
  width: 30%;
  min-height: 200px;
  display: flex;
  text-align: left;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.BannerTitle {
  height: 100%;
  margin-top: 5%;
  width: 50%;
  height: min-content;
  display: flex;
  align-items: left;
  padding-left: 10%;
  justify-content: center;
  flex-direction: column;
}
.BannerTitle * {
  margin: 0;
}
.BannerTitle h1 {
  font-size: 4.5em;
}
.BannerTitle h2 {
  font-size: 3.5em;
  font-weight: 100;
}
.BannerTitle p {
  font-size: 1.3em;
  font-weight: 100;
}
.body {
  display: flex;
  height: 100%;
}
@font-face {
  font-family: pristina;
  src: url(PRISTINA.TTF);
}
.BannerImg {
  margin-top: 5%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.BannerImg img {
  width: 60%;
  height: auto;
}
button {
  width: fit-content;
  font-size: 1.2em;
  box-shadow: 2px 5px 10px rgba(48, 48, 48, 0.404);
  padding: 5px;
  padding-inline: 20px;
  border: none;
  border-radius: 10px;
}
.stproject {
  padding: 20px;
  padding-inline: 25px;
  background-color: #359af9;
  color: white;
  margin-top: 10%;
  font-size: 1.2em;
}
.loginbtn {
  font-size: 1em;
  background-color: #ffffff;
  border-radius: 5px;
  color: black;
}
.blue {
  color: #359af9;
}
.services {
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card * {
  margin: 5px;
}
.services .card {
  padding: 20px;
  border-radius: 8px;
  width: 23%;
  min-width: 200px;
  text-align: center;
  background-color: #359af966;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 30%;
}
.process .card img {
  width: 25%;
}
.process {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-evenly;
  background-color: #e0e0e0;
}

.process .card {
  width: 25%;
  min-height: 170px;
  padding: 5px;
  background-color: white;
  min-width: 200px;
  border-radius: 5px;
}
.reachus {
  display: flex;

  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
nav ul li:hover {
  color: #0084ff;
}
#menu {
  user-select: none;
  width: 30px;
  cursor: pointer;
  display: none;
  height: 30px;
}
.reachus .info {
  align-items: center;
  width: 50%;
  min-width: 300px;
}
ul a {
  text-decoration: none;
  color: black;
  font-weight: normal;
}
.reachus .info h1 {
  width: 100%;
  text-align: left;
  font-size: 3em;
  margin: 0;
  margin-top: 5px;
}
.contact {
  width: 100%;
}
.contact > p {
  width: 100% !important;
  text-align: left;
}
.reachus .info p {
  width: 100%;
  text-align: left;
  font-size: 1.2em;
}
.reachus .map {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.map img {
  width: 500px;
  height: 300px;
  max-width: 95%;
  margin: 10px 0 10px 0;
}
footer {
  color: white;
  padding: 25px;
  background-color: #359af9;
  font-size: 1.5em;
}
@media (max-width: 700px) {
  .process {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
    background-color: #e0e0e0;
  }
  .process .card {
    width: 90%;
    min-height: 170px;
    padding: 5px;
    background-color: white;
    min-width: 150px;
    border-radius: 5px;
  }
  .heading {
    margin: 0;
    margin-left: 5%;
    font-size: 1.7em;
    margin-top: 20px;
  }
  .paragraph {
    margin-left: 5%;
    font-size: 1.1em;
  }
  .right {
    flex-direction: row-reverse;
  }
  .root {
    padding-inline: 0;
  }
  .banner {
    height: 50vh;
    overflow: hidden;
  }
  .reachus .info {
    width: 90%;
  }
  .reachus .map {
    width: 100%;
  }
  .triangle {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    border: 50vw solid rgba(255, 0, 0, 0);
    border-top: 25vh solid rgba(255, 0, 0, 0);
    border-right: 50vw solid #359af9;
    border-bottom: 25vh solid #359af9;
    height: 0;
  }
  .BannerTitle {
    padding-left: 0;
    height: 50%;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .BannerTitle h1 {
    font-size: 2.2rem;
  }
  .BannerTitle h2 {
    font-size: 1.7rem;
  }
  .BannerTitle p {
    font-size: 1em;
  }
  #menu {
    display: block;
  }
  .body {
    flex-direction: column;
  }
  .stproject {
    margin-top: 2px;
    font-size: medium;
    padding: 10px 20px;
    box-shadow: 2px 3px 5px #444444;
  }
  .BannerImg {
    margin: 0;
    width: 100%;
    justify-content: center;
    align-items: unset;
  }
  .BannerImg img {
    height: 50%;
    width: auto;
  }
  .values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    align-items: center;
  }
  .right {
    width: 60%;
  }
  nav ul {
    gap: 20px;
    position: absolute;
    width: 50%;
    height: 30vh;
    z-index: 999 !important;
    transition: all 0.5s ease;
    flex-direction: column;
    background-color: #ffffff;
    top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    left: -100%;
    border-radius: 5px;
    padding-left: 50px;
    font-size: 1rem;
  }
  nav ul.active {
    left: 0;
  }
  .v1 .circle {
    box-shadow: 3px 5px 10px #7c7c7c;
    width: 80px;
    height: 80px;
    background-color: #359af9;
  }
  .v1 p {
    width: 80%;
    text-align: center;
  }
  .v1 * {
    text-align: center;
    margin: 5px;
  }
  .v1 {
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .services .card {
    width: 80%;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #164a7b;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #175896;
}
